@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mulish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border_box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  ms-text-size-adjust: 100%;
  moz-text-size-adjust: 100%;
  webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EDEDED;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1150px) {
  .container {
    max-width: 970px;
  }

  .content__search form input {
    font-size: 1rem;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 800px;
  }

  .content__lyrics p {
    font-size: 1.1rem;
  }

  .content__body {
    font-size: 0.8em;
  }

  .content__film {
    font-size: 1em;
  }

  .addpage {
    font-size: 0.9em;
  }

  .selected-film {
    font-size: 0.8em;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .content__search form input {
    font-size: 1em;
  }

  .content__body {
    font-size: 0.7em;
  }

  .content__film {
    font-size: 0.8em;
  }

  .footer {
    font-size: 0.7em;
  }

  .addpage {
    font-size: 0.8em;
  }

  .selected-film {
    font-size: 0.6em;
  }
}
@media (max-width: 535px) {
  .content__film {
    font-size: 0.5em;
  }

  .selected-film {
    font-size: 0.5em;
  }
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.25rem;
  padding: 2.2rem 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  gap-row: 10px;
}
.header__row a {
  color: #000;
}
.header__row a:hover {
  text-decoration: underline;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.content__search {
  text-align: center;
  margin: 3rem 0;
}
.content__search form {
  padding: 0 25px;
}
.content__search input {
  font-size: 1.2rem;
  padding: 0.8em 1.1em;
  max-width: 40em;
  width: 100%;
  background-color: transparent;
  border: 1px solid #000;
}
.content__lyrics {
  font-size: 1.3rem;
  line-height: 1.3em;
  max-width: 680px;
  margin: 0 auto;
}
.content__lyrics p:last-child {
  margin: 1.2rem 0 0 0;
}
.content__hint {
  text-align: center;
  margin: 4rem 0;
  opacity: 0.5;
  font-size: 1.1rem;
}
.content__body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.content__film {
  margin: 0 0 3em 0;
}
.content__film:last-child {
  margin: 0;
}

.film__body {
  -webkit-box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.7);
}
.film__image {
  position: relative;
  padding: 0 0 50% 0;
  overflow: hidden;
}
.film__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.8;
  max-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.film__text a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
  padding: 1em 2em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(55, 55, 55, 0)), color-stop(61.46%, rgba(11, 11, 11, 0.6)));
  background: linear-gradient(180deg, rgba(55, 55, 55, 0) 10%, rgba(11, 11, 11, 0.6) 61.46%);
}
.film__text a:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(55, 55, 55, 0)), color-stop(61.46%, rgba(11, 11, 11, 0.8)));
  background: linear-gradient(180deg, rgba(55, 55, 55, 0) 10%, rgba(11, 11, 11, 0.8) 61.46%);
}
.film__text a:hover .film__name {
  text-shadow: 0 2px 10px #80FFEE;
}
.film__title {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  font-weight: 400;
}
.film__name {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  font-style: italic;
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 87%;
  left: 0;
}

.list-pages {
  margin: 2rem 0;
}
.list-pages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
}
.list-pages__list li {
  margin: 0 15px 0 0;
}
.list-pages__list a {
  color: #000;
}
.list-pages__list a:hover {
  position: relative;
  top: -4px;
  text-shadow: 0 0 3px #000;
}

.selected-film__title {
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
  text-align: center;
  margin: 50px 0;
}
.selected-film__name {
  font-size: 2.3em;
}
.selected-film__prod_name {
  font-size: italic;
  font-size: 1.2em;
  opacity: 0.8;
}
.selected-film__body {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 0.6em;
}
.selected-film__image {
  position: relative;
  padding: 0 0 55% 0;
  overflow: hidden;
  -webkit-box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.7);
}
.selected-film__image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  opacity: 0.9;
  max-width: 100%;
  min-height: 100%;
  position: absolute;
}
.selected-film__text {
  font-family: "Raleway", open-sans;
  margin: 25px 0;
  font-size: 1.6em;
  padding: 0 2.5em;
  line-height: 1.4em;
}

.source {
  margin: 1.5em 0;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__text {
  margin: 40px 0;
  font-size: 1.4em;
  text-align: center;
  min-width: 40vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 1.5em;
}
.about__text p {
  margin: 0 0 20px 0;
}
.about__gif {
  max-width: 80%;
  margin: 0 auto;
}
.about__gif img {
  width: 100%;
}

.addpage {
  text-align: center;
}
.addpage h2 {
  text-align: center;
  font-size: 1.8em;
  margin: 40px 0;
}
.addpage p {
  margin: 0 0 20px 0;
}
.addpage .form-label {
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  margin: 0 0 20px 0;
}
.addpage button {
  padding: 0.8em 1.2em;
  font-size: 1.5em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  -webkit-box-shadow: 0 5px 5px #000;
          box-shadow: 0 5px 5px #000;
}
.addpage button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 2px 10px #80FFEE;
}
.addpage button:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: 0 2px 2px #000;
          box-shadow: 0 2px 2px #000;
}
.addpage input, .addpage textarea, .addpage select {
  -webkit-box-shadow: 0 0 3px #80FFEE;
          box-shadow: 0 0 3px #80FFEE;
  padding: 0.8em;
  font-size: 1.1em;
  display: block;
  margin: 0 auto;
  max-width: 400px;
}
.addpage input:focus, .addpage textarea:focus, .addpage select:focus {
  -webkit-box-shadow: 0 0 8px #80FFEE;
          box-shadow: 0 0 8px #80FFEE;
}
.addpage input[type=file] {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer {
  margin: 50px 0;
}
.footer__content {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  margin: 0 auto;
}
.footer__contacts {
  text-align: center;
  margin: 20px 0;
  font-size: 1.3em;
  line-height: 1.2em;
}
.footer__contacts a {
  margin: 20px 0 0 0;
  display: inline-block;
  border-radius: 20px;
  width: 4em;
  height: 4em;
}
.footer__contacts a:hover {
  position: relative;
  top: -5px;
  -webkit-box-shadow: 0 5px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 0px rgba(0, 0, 0, 0.4);
}
.footer__contacts img {
  max-width: 100%;
}